@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.defaultUserFields {
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.row,
.customFields {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.firstNameRoot {
  width: calc(50% - 9px);
}

.lastNameRoot {
  width: calc(50% - 9px);
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
  margin-top: 40px;
  & svg{
    stroke: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    border: 1px solid #fff;
    top: 1px;
    & rect {
      fill: #F06F2A14;
    }

  }
  & > div{
    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 0;
  }
  & li{
    padding: 0;
  }
}
